html, body {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'Rubik';
	src: url('../Rubik-VariableFont_wght.ttf');
}

.panel-container {
	margin-bottom: 4rem;
	display: flex;
	overflow-x: scroll;
	width: 100%;
	height: calc(100% - 100px);
}
div,body {
	//-ms-overflow-style: none; /* Edge, Internet Explorer */
	//scrollbar-width: none; /* Firefox */
	// overflow-y: scroll;
	font-family: Rubik, serif;
}

// hides scrollbars while allowing to scroll
//div::-webkit-scrollbar,body::-webkit-scrollbar {
//	display: none; /* Chrome, Safari, Opera */
//}
::-webkit-scrollbar {
	width : 8px;
	height: 3px;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
	background   : #c4c4c4;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 8px;
}
.task-edit {
	cursor: pointer;
}
.add-task {
	cursor: pointer;
}

.bottom-music-player {
	box-shadow: 0 -8px 10px 1px #7b7b7b3d;
}
.panel {
    position: relative;

	> .task-list {
		max-height: 550px;
		overflow-y: scroll;
		margin-bottom: 50px;
	}
}
.task-edit {
	cursor: pointer;
}
.search-icon {
	filter: opacity(50%);
}
.link-pic {
	filter: brightness(0) invert(1);
}

.panel {
	border-radius: 10px;
	flex: none;
	width: 22rem;

	&:nth-child(3n + 1) {
		color: #825fd7;
		background-color: #f6f5fd;

		.task-edit {
			background-color: #f6f5fd;
		}
		.task-num {
			color: #5030E5;
			background-color: #dcd6fa;
		}
		.add-task {
			background-color: #a6a8fd;
		}
	}

	&:nth-child(3n + 2) {
		color: #fdb93e;
		background-color: #fdf8f2;

		.task-edit {
			background-color: #fdf8f2;
		}
		.task-num {
			color: #FFA500;
			background-color: #FFF0D2;
		}
		.add-task {
			background-color: #fdb93e;
		}
	}

	&:nth-child(3n + 3) {
		color: #5cdf93;
		background-color: #eff9f0;

		.task-edit {
			background-color: #eff9f0;
		}
		.task-num {
			color:#79D8A1;
			background-color: #d9eedf;
		}
		.add-task {
			background-color: #4ade80;
		}
	}

	.task-date {
		color: #9c85e2;
	}

	.task-period {
		color: #acaef9;
		padding: 4px 10px;
		background-color: #f6f5fd;
		font-size: 14px;
		font-weight: 600;
	}

	.task-num {
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border-radius: 50%;
		margin-right: 15px;
	}
}
.add-column {
	color: #825fd7;
	border: 2px solid #825fd7;
	background-color: #f6f5fd;
}
.main-section {
	height: calc(100% - 197px);
	overflow-x: auto;
	overflow-y: hidden;
}
.add-task {
	position: absolute;
	bottom: 0;
	border-radius: 0 0 10px 10px;
}
.TCtoggle {
	padding: 2px;
	background-color: #e7ecf2;
}
.TCtoggle > div {
	font-size: 20px;
	font-weight: bold;
}
.timer-time-nav {
	padding: 5px 15px;
	text-align: center;
}
.timer {
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	color: #52d88c;
	border-radius: 50%;
	font-size: 40px !important;
}
.timer-wrapper {
	padding-left: 5px;
	background-color: #52d88c;
}
.task-bar {
	background-color: #f8f9fd;
	padding: 1rem 2rem;
	overflow-x: auto;
	overflow-y: hidden;
}
.task-name {
	color: #cfe0f6;
	background-color: #eaeef8;
	border-radius: 16px;
	padding: 0 15px;
	line-height: 40px;
	height: 40px;


	&.active {
		color: #fff;
		background-color: #76a5e9;
	}
}
.add-task-name {
	color: #cee0f8;
	height: 40px;
	border: 3px solid #cee0f8;
	border-radius: 18px;
	padding: 0 14px;
	font-size: 40px;
	line-height: 30px;
}
.search-wrapper {
	height: 40px;
	background-color: #eff2f9;
	border-radius: 16px;

	input {
		background-color: #0000;
		outline: none;
		height: 40px;
		line-height: 40px;
	}

	img {
		width: 26px;
		height: 26px;
		margin-right: 10px;
	}
}
.task {
	.task-prior {
		font-size: 13px;
		border-radius: 6px;
		padding: 0 10px;
		margin: 0 10px 0 0;
	}
	.task-prior-low {
		color: #a0c0f4;
		border: 2px solid #a0c0f4;
	}
	.task-prior-mid {
		color: #FDB93E;
		border: 2px solid #FFD29F;
	}
	.task-prior-high {
		color: #FF8484;
		border: 2px solid #F4D7DA;
	}
	.task-next-tag {
		color: #333;
		background-color: #eff2f9;
		border: none;
		border-radius: 6px;
		padding: 0 6px;
	}
	.task-title {
		color: #333;
	}
	.task-desc {
		color: #7c7a7a;
	}
}
.playlist {
	background-color: #ffffff;
}
.playlist-scroll {
	max-height: 300px;
	overflow-y: auto;

	> div.active {
		background-color: #f6f6f6;
	}
}
.bottom-music-player {
	background-color: #ffffff;
}
/* progress bar common style */
.progress-bar {
	position: absolute;
	top: -5px;
	width: 100%;
	height: 5px;
	box-sizing: border-box;
	background-color: #e4e4e4;
	box-shadow: inset 0 1px 3px 1px #b3b3b3;
	margin-bottom: 10px;

	.progress-inner-bar {
		position: relative;
		height: 5px;
		width: 15px;
		background-color: #8361d9;
		border-radius: 10px;
		transition: width 500ms linear;
	}

	.progress-inner-circle {
		position: absolute;
		right: 0;
		top: -5px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #8361d9;
	}
}

@media only screen and (max-width: 640px) {
	header {
		padding: 15px !important;

		.TCtoggle {
			> div {
				height: 30px;
				padding: 0;
				font-size: 16px;
				line-height: 30px;
			}
		}
		.timer-wrapper {
			background-color: transparent;
			.timer {
				color: #51b87c;
				background-color: transparent;
				z-index: 99;
			}
		}
	}
	.task-bar {
		padding: 10px;
		height: 3.5rem !important;

		.task-name {
			height: 35px;
			line-height: 35px;
		}

		.search-wrapper {
			display: none;
		}
		.add-task-name {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			font-size: 22px;
			color: #ffffff;
			background-color: #cee0f8;
			border: none;
		}
	}
	.main-section {
		height: calc(100% - 129px);
	}
	.panel-container {
		.panel {
			width: 20rem;
			margin: 0 1rem;
		}
	}
	.playlist {
		width: 100%;
		left: 0;
		bottom: 70px !important;
	}
	.timer-time-nav-off {
		display: none;
	}
	.timer-time-nav {
		display: none;
	}
	.timer-stop, .timer-start {
		position: fixed !important;
		width: 100% !important;
		top: 0 !important;
		left: 0;
	}
	.content-list {
		> div {
			width: 90%;
			margin: 0 auto;
		}
	}
	.content-actions {
		width: 50px;
		height: 50px;
		border-radius: 20px 0 0 20px !important;

		.open-all-link, .add-new-resource {
			display: none;
		}
	}
	.add-resource {
		width: 90% !important;

		.px-4 {
			max-height: 280px;
			overflow-y: auto;
		}
	}
	.modal-wrapper {
		width: 90%;
	}
	.modal-content {
		flex-direction: column;

		.input-group {
			width: 100%;

			> input {
				width: 100%;
			}
		}

		> div + div {
			margin-top: 1rem;
		}
	}
	.task-edit, .edit-resource {
		display: block !important;
	}
	.content-list {
		margin-bottom: 50px;
		height: calc(100% - 100px);
		overflow-y: auto;
	}
	.content-item {
		margin-bottom: 10px !important;
	}
}
.add-column-panel {
	display: none;

	background: #f6f5fe;
	border: 2px solid #5030E5;
	border-radius: 10px;
	text-align: center;

	> div {
		&:first-child {
			text-align: center;
			color: rgba(130, 97, 217);
			padding: 8px;
		}

		&:last-child {
			color: #fff;
			background: #8261d9;
			font-size: 16px;
			font-weight: 700;
			border-radius: 0 0 10px 10px;
			margin-top: 10px;
			padding: 10px 0;
		}
	}

	textarea {
		color: #8261d9;
		background: #ece9fc;
		border: 1px dashed rgba(80, 48, 229, 0.59);
		border-radius: 10px;
		resize: none;
		width: 90%;
		height: 160px;
		outline: none;
		padding: 10px;
	}
}
.input-group {
	background-color: #f5f5f5;
	border-radius: 14px;
	align-self: flex-start;
	padding: 15px;

	> input {
		background-color: #0000;
		padding: 10px 0;
		outline: none;

		& + input {
			border-top: 1px solid #e1e1e1;
		}
	}

	> select {
		background-color: transparent;
		outline: none;
	}
}
.cancel-add {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #333333;
	background: #E5E5E5;
}
.save-task {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	background: #8261D9;
}
.cancel-delete {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	background: #FF8484;
}

.content-item {
	position: relative;
	> div {
		color: #8261D9;
		p:first-child {
			font-size: 20px;
		}
		p:last-child {
			position: absolute;
			right: 1rem;
			width: 22px;
			height: 22px;
			text-align: center;
			line-height: 22px;
			border-radius: 5px;
			background: rgba(80, 48, 229, 0.2);

			> svg {
				margin: 3px auto;
			}
		}
	}
	hr {
		height: 2px;
		background-color: #A5A8FC;
	}
	> p {
		font-size: 12px;
		color: #787486;
	}
}

.open-all-link-wrapper {
	background-color: #46b675;
	border-radius: 30px 0 0 30px;
}

.add-new-resource-wrapper {
	background-color: #a5a8fc;
	border-radius: 30px 0 0 30px;
}

.add-course-wrapper, .add-content-course-wrapper {
	color: #cfe0f6;
	height: 40px;
	background-color: #eaeef8;
	border-radius: 16px;
	padding: 0 15px;
	line-height: 40px;
	border: 2px solid #76a5ea;

	input {
		background-color: transparent;
		outline: none;
		width: 100px;
		color: #76a5ea;
	}
}

.content-item-quick {
	background-color: #F2EFF9;

	input, textarea {
		background-color: transparent;
		outline: none;
	}
	textarea {
		width: 100%;
		resize: none;
	}
}
